{{#if logged_in}}
  <div class='card mb-4 post text-center'>
    <div class='card-header'>
      <h2>{{title}}</h2>
      <p class='text-secondary'>Created by
        {{user.name}}
        on
        {{format_date date_created}}</p>
    </div>
    <div class='card-body'>
      <p class='card-text'>
        {{content}}
      </p>
    </div>
    {{#if comments}}
      <section class='card'>
        <div class='card-header'>
          <h3>Comments</h3>
        </div>

        <div class='card-body text-dark'>
          {{#each comments as |comment|}}
            <div>
              <p>
                {{comment.comment_txt}}
              </p>
              <p>
                &mdash;
                {{comment.user.name}},
                {{format_date comment.createdAt}}
              </p>
            </div>
          {{/each}}
        </div>
      </section>
    {{/if}}

    <div class='card'>
      <div class='card-header'>
        <h3>Add New Comment</h3>
      </div>
      <form class='form new-comment-form card-body' id='new-comment-form'>
        <div class='card-body'>
          <input type='hidden' name='post-id' value='{{id}}' />

          <textarea name='comment-body' class='m-0 p-0 form-input'></textarea>

        </div>
        <button
          type='submit'
          class='btn btn-lg btn-primary mt-3'
        >Submit</button>

      </form>

    </div>
  </div>
{{/if}}

<script src='../js/comment.js'></script>